<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.neura.sampleapplication">

    <!-- Neura can login reading your user's sms thus making your user not to interact with the ui,
    kind of automatically login. This isn't mandatory, and you don't require this permission on
    your application(if this permission isn't set in your manifest, Neura sdk won't do
    automatically sms login-->
    <uses-permission android:name="android.permission.RECEIVE_SMS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/big_neura_circle"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- In order to detect system events from neura, please declare a broadcast receiver who
        catches the intent com.neura.android.ACTION_NEURA_STATE_ALERT-->
        <receiver
            android:name=".HandleNeuraStateAlertReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.neura.android.ACTION_NEURA_STATE_ALERT" />
            </intent-filter>
        </receiver>

        <service android:name=".NeuraEventsService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>
