<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.neura.sampleapplication">

    <!-- If you start Neura in foreground mode AND you target API 28 and above
         Make sure you add this permission to your manifest file -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/big_neura_circle"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme"
        android:name=".SampleApplication"
        >
        <!-- [START fcm_default_channel] -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id"/>
        <!-- [END fcm_default_channel] -->
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- In order to detect system events from neura, please declare a broadcast receiver who
        catches the intent com.neura.android.ACTION_NEURA_STATE_ALERT-->
        <receiver android:name=".HandleNeuraStateAlertReceiver">
            <intent-filter>
                <action android:name="com.neura.android.ACTION_NEURA_STATE_ALERT" />
            </intent-filter>
        </receiver>

        <service android:name=".NeuraEventsService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>
